<div class="container p-5" *ngIf="moviesDataLoader">
  <h1 class="text-center mb-5">
    The Net Fish
  </h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Director</th>
        <th scope="col">Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let entry of movies ; let i = index" (click)="goToDetails(entry.id)">
        <th scope="row"> {{i + 1}}</th>
        <td>{{entry.name}}</td>
        <td>{{entry.director}}</td>
        <td>{{entry.releaseDate | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-loading-screen *ngIf="!moviesDataLoader" ></app-loading-screen>