<div id="footer">
    <footer class="container-fluid mt-5">
      <div class="card mx-5">
  
          <div class="divider mb-4"> </div>
          <div class="row" >
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="pull-left">
                      <p><i class="fa fa-copyright"></i> 2021 The Net Fish</p>
                  </div>
              </div>
  
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="pull-right mr-4 d-flex policy">
                      <div>Terms of Use</div>
                      <div>Privacy Policy</div>
                      <div>Cookie Policy</div>
                  </div>
              </div>
          </div>
      </div>
    </footer>
  </div>
  