<div class="row p-4 my-2 mx-1 border shadow">
    <button class="btn btn-primary mr-5"[routerLink]="['/dashboard']">Back</button>
    <h3>Filter by Genre</h3>
</div>


<div class="container">


    <div class="form-group row">
        <label for="genre" class="col-sm-2 col-form-label">Genre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="genre" required [(ngModel)]="genreByUser" name="genre">
        </div>
    </div>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Genre</th>
                <th scope="col">Name</th>
                <th scope="col">Release date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer" *ngFor="let entry of movies | filterGenre : genreByUser">
                <td>{{entry.genre}}</td>
                <td>{{entry.name}}</td>
                <td>{{entry.releaseDate | date}}</td>
            </tr>
        </tbody>
    </table>
</div>